.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
.relative { position: relative; }
.absolute { position: absolute; }

.overflow-x { overflow-x: auto; }
.overflow-y { overflow-y: auto; }
.overflow {
  .overflow-x;
  .overflow-y;
}
.no-overflow {
  overflow: hidden;
}

body {
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 13px;
  color: #444;
}

/**
 * Scheduler Module
 */
//@sideBarWidth: 200px;
//.scheduler-module {
//  border: 1px solid #ddd;
//  .overflow;
//  .scheduler-inner {
//    width: 100%;
//
//    .list-module {
//      .fl;
//      width: @sideBarWidth; // Default value.
//    }
//    .chart-module {
//      margin-left: @sideBarWidth;
//      .no-overflow;
//      .overflow-x;
//    }
//    .chart-inner {
//      .no-overflow;
//    }
//  }
//}

.scheduler-module {
  .scheduler-inner {
    .relative;
  }
}