/* Variables */
@tooltipBorderColor: #5f5f5f;
@borderColor: #ccc;
@selectedBlockColor: #ff4f78;
@rowEvenColor: #ffffff;
@rowOddColor: #efefef;
@tooltipBackground: rgba(0, 0, 0, 0.6);
@timelineColor: #aaa;
@hGridColor: #ddd;
@vGridColor: #f4f4f4;


/* Common Classes */
.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
.relative { position: relative; }
.absolute { position: absolute; }
.reset-padding { padding: 0; }
.reset-margin { margin: 0; }
.reset {
  .reset-padding;
  .reset-margin;
}
.overflow-x { overflow-x: auto; }
.overflow-y { overflow-y: auto; }
.overflow {
  .overflow-x;
  .overflow-y;
}
.no-overflow {
  overflow: hidden;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* App */
html, body, ul, li, p, h1, h2, h3, h4, h5, h6 {
  .reset;
}
body {
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 13px;
  color: #444;
}

.scheduler-module {
  .no-overflow;
  border: 1px solid @borderColor;

  .scheduler-inner {
    width: 100%;
    height: 100%;
    background: @borderColor;
  }

  .list-module {
    .fl;
    .no-overflow;
    background: #fff;
  }

  .tooltip {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 320px;
    height: 100px;
    background: @tooltipBackground;
    border: 1px solid @tooltipBorderColor;
    border-radius: 3px;

    .inner {
      color: white;
      padding: 6px;
    }
    #close-tooltip {
      .absolute;
      color: white;
      right: 6px;
      top: 3px;
      text-decoration: none;
      cursor: default;
    }
  }

  .chart-module {
    .chart-inner {
      background: #fefefe;
      width: 100%;
      height: 100%;
      .no-overflow;
    }
    .chart-timeline {
      width: 100%;
      background: #eee;
      box-shadow: 0px 1px 8px 0px #ccc;
      .no-overflow;
    }
    .timeline-scrollable {
      .overflow;
      .relative;
    }
    .selected rect {
      fill: purple;
      stroke: purple;
    }
    .overlapping {
      fill: @selectedBlockColor;
      stroke: @selectedBlockColor;
    }
  }
}

.even { fill: @rowEvenColor; }
.odd { fill: @rowOddColor; }

.axis {
  path, line {
    fill: none;
    stroke: @timelineColor;
    shape-rendering: crispEdges;
  }
  text {
    font-size: 9px;
    fill: #666;
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
  }
  &.y line {
    stroke: @hGridColor;
  }
}

.block {
  cursor: default;
  .noselect;
}

.grid .tick {
  stroke: @vGridColor;
  opacity: 0.7;
}
.grid path {
  stroke-width: 0;
}


